{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Image Upload</title>
		<link rel="icon" href="icon.png" type="image/gif" sizes="16x16">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		{% block extrahead %}
    		<link rel="stylesheet" type="text/css" href="static/css/op.css">
		{% endblock %}
	</head>

    <body>
        <center>
            <div class="jumbotron">
				<div id="rect">
	                <h1 class="display-4">Ancient Tamil Text Recognition</h1>
	                        {% block replace %}
	                <p class="lead">Please upload an Inscription Image</p>
	                <hr class="my-4">
	                <form method="POST" enctype="multipart/form-data">
	                    <!-- Very Important csrf Token -->
	                    {% csrf_token %}
	                    <table>
	                        {{ form.as_table }}
	                    </table>
	                    <br>
	                    <input type="submit" class="btn btn-primary btn-lg" name="register" value="Upload">
				</div>
            </div>
        </center>
        {% endblock %}
    </body>
</html>